@import url("https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f79824;
  font-family: "Send Flowers", cursive;
  font-size: x-large;
  font-weight: bold;
  color: #31393c;
}

.morseForm {
  padding: 40px;
  border-style: dashed dashed dotted dotted;
  border-color: #2176ff;
  border-width: 5px;
  border-radius: 10px 50px;
  background-color: #33a1fd;
  display: flex;
  flex-direction: column;
}
.morseForm__textbox {
  font-size: 20px;
}
