@import url("https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 180, 80);
    font-family: "Send Flowers", cursive;
    font-size: x-large;
    font-weight: bold;
    color: #31393c;
}

.morseForm {
    padding: 40px;
    border-style: dashed dashed dotted dotted;
    border-color: burlywood;
    border-width: 5px;
    border-radius: 10px 50px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    &__textbox {
        font-size: 20px;
    }
}
